{{ define "template/home.html" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{{ .title }}</title>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <button
        onclick="document.getElementById('idLogin').style.display='block'"
        style="width: auto"
      >
        Login
      </button>

      <button
        onclick="document.getElementById('idSignup').style.display='block'"
        style="width: auto"
      >
        Sign up
      </button>
    </div>

    <h2 style="margin: 5px 10px;">{{ .content }}</h2>

    <div id="idLogin" class="modal">
      <form class="modal-content animate" action="/login" method="post">
        <div class="imgcontainer">
          <span
            onclick="close_modal('idLogin')"
            class="close"
            title="Close Modal"
            >&times;</span
          >
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input
            id="usernameidLogin"
            type="text"
            placeholder="Enter Username"
            name="username"
            required
          />

          <label for="psw"><b>Password</b></label>
          <input
            id="passwordidLogin"
            type="password"
            placeholder="Enter Password"
            name="password"
            required
          />

          <label>
            <input type="checkbox" onclick="show_password('idLogin')" /> Show
            password
          </label>

          <button type="submit">Login</button>

          <label>
            <input type="checkbox" checked="checked" name="remember" /> Remember
            me
          </label>
        </div>

        <div class="container" style="background-color: #f1f1f1">
          <button
            type="button"
            onclick="close_modal('idLogin')"
            class="cancelbtn"
          >
            Cancel
          </button>
          <button type="button" onclick="clear_login()" class="clearbtn">
            Clear
          </button>
        </div>
      </form>
    </div>

    <!-- Sign up -->
    <div id="idSignup" class="modal">
      <form class="modal-content animate" action="/signup" method="post">
        <div class="imgcontainer">
          <span
            onclick="close_modal('idSignup')"
            class="close"
            title="Close Modal"
            >&times;</span
          >
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input
            id="usernameidSignup"
            type="text"
            placeholder="Enter Username"
            name="username"
            required
          />

          <label for="email"><b>Email</b></label>
          <input
            id="emailidSignup"
            type="email"
            placeholder="Enter Email"
            name="email"
            required
          />
          <br />

          <label for="psw"><b>Password</b></label>
          <input
            id="passwordidSignup"
            type="password"
            placeholder="Enter Password"
            name="password"
            required
          />
          <br />

          <label>
            <input type="checkbox" onclick="show_password('idSignup')" /> Show
            password
            <br />
          </label>

          <button type="submit">Sign up</button>
        </div>

        <div class="container" style="background-color: #f1f1f1">
          <button
            type="button"
            onclick="close_modal('idSignup')"
            class="cancelbtn"
          >
            Cancel
          </button>
          <button type="button" onclick="clear_signup()" class="clearbtn">
            Clear
          </button>
        </div>
      </form>
    </div>

    <script type="text/javascript" src="/scripts/home.js"></script>
  </body>
</html>
{{ end }}
