{{ define "template/login.html" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/login.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{{ .title }}</title>
  </head>

  <body>
    <h2>{{ .content }}</h2>

    <button
      onclick="document.getElementById('id01').style.display='block'"
      style="width: auto"
    >
      Login
    </button>

    <button
      onclick="document.getElementById('id02').style.display='block'"
      style="width: auto"
    >
      Sign up
    </button>

    <div id="id01" class="modal">
      <form class="modal-content animate" action="/login" method="post">
        <div class="imgcontainer">
          <span onclick="close_modal()" class="close" title="Close Modal"
            >&times;</span
          >
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input
            id="username"
            type="text"
            placeholder="Enter Username"
            name="username"
            required
          />

          <label for="psw"><b>Password</b></label>
          <input
            id="password"
            type="password"
            placeholder="Enter Password"
            name="password"
            required
          />

          <label>
            <input type="checkbox" onclick="show_password()" /> Show password
          </label>

          <button type="submit">Login</button>

          <label>
            <input type="checkbox" checked="checked" name="remember" /> Remember
            me
          </label>
        </div>

        <div class="container" style="background-color: #f1f1f1">
          <button type="button" onclick="close_modal()" class="cancelbtn">
            Cancel
          </button>
          <button type="button" onclick="clear_login()" class="clearbtn">
            Clear
          </button>
        </div>
      </form>
    </div>

    <!-- Sign up -->
    <div id="id02" class="modal">
      <form class="modal-content animate" action="/signup" method="post">
        <div class="imgcontainer">
          <span onclick="close_modal()" class="close" title="Close Modal"
            >&times;</span
          >
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input
            id="username"
            type="text"
            placeholder="Enter Username"
            name="username"
            required
          />

          <label for="psw"><b>Password</b></label>
          <input
            id="password"
            type="password"
            placeholder="Enter Password"
            name="password"
            required
          />

          <label>
            <input type="checkbox" onclick="show_password()" /> Show password
            <br>
            <br>
          </label>

          <label for="email"><b>Email</b></label>
          <input
            id="email"
            type="email"
            placeholder="Enter Email"
            name="email"
            required
          />

          <button type="submit">Sign up</button>
        </div>

        <div class="container" style="background-color: #f1f1f1">
          <button type="button" onclick="close_modal()" class="cancelbtn">
            Cancel
          </button>
          <button type="button" onclick="clear_login()" class="clearbtn">
            Clear
          </button>
        </div>
      </form>
    </div>

    <script src="scripts/login.js"></script>
  </body>
</html>
{{ end }}
